<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--LINK TO BOOTSTRAP-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--LINK TO OUR CUSTOM STYLESHEET (/public/style.css)-->
<link rel="stylesheet" href="/style.css">

<!--LINK TO MAIN SITE FONT "KHULA"-->
<link rel="stylesheet" href="https://use.typekit.net/zcx8kyu.css">
<title><%= title %></title>
