<nav class="nav navbg pl-5">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/departments">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/programs">Programs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dis-form">Discussion Form</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/updates">Updates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/learning_outcomes">Learning Outcomes Timeline</a>
            </li>
        </ul>
</nav>
