<h1 class="py-2 pt-5">Departments</h1>

<table class="table customTable">
    <thead>
        <th>Name</th>

    </thead>
    <tbody>
        <% for (let department of departments) { %>
        <tr>
            <td>
                <a href="/departments/<%=department.dept_id%>">
                    <%=department.dept_name%>
                </a>
            </td>

        </tr>
        <% } %>
    </tbody>
</table>
