<%/* 
FORM Contents
1. Email address
2. Dropdown list of all programs
3. Date entry for assessment
4. Completed by Date
5. All present
6. Discipline Area
7. PLOs
8.clos
9.Discussed strategies
10. Discussed resources
11. comments
*/%>



<h1 class="">
    Department Learning Outcomes Discussion Summary
</h1>
<p class="">* Required</p>
<form class="">
    <div class="">
        <label for="exampleInputEmail1">Email address *</label>
        <input
            type="email"
            class=""
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Your email"
        />
        <small id="" class=""
            >This summary will be sent to this email.</small
        >
    </div>
    <div>
      <label for="programs">Choose a program:</label>
      <select name="programs">
        <% for (let i = 0; i < programs.length; i++) { %>
           <option value="<%= programs[i] %>"><%= programs[i] %></option>
       <% } %>
      </select>
    </div>
    <div>
      <label for="start">Date Assessed</label>
      <input type="date" value="<%= date %>" />
    </div>
    <div class="">
        <label for="disciplineInput">Discipline Area</label>
        <input
            type="text"
            class=""
            id="disciplineInput"
            placeholder="Your awnser"
        />
    </div>
    <div class="">
        <label for="completeInput">Completed By</label>
        <input type="text" class="" id="completeInput" placeholder="Your awnser" />
    </div>
    <div class="">
        <label for="presentInput">Who was present for this discussion (list names).</label>
        <input type="text" class="" id="presentInput" placeholder="Your anwser" />
    </div>
    <div class="">
        <h5>Which Outcomes were discussed?</h5>
        <p>
            Your discussion doesn't need to discuss all the outcome levels
            below, but should include at least a few of them.
        </p>
    </div>
    <div class="">
        <label for="coursesInput">Courses & SLOs Assessed</label>
        <input type="text" class="" id="coursesInput" placeholder="Your awnser" />
    </div>
    <div class="">
        <label for="programsInput">Programs & PLOs Assessed</label>
        <input type="text" class="" id="programsInput" placeholder="Your awnser" />
    </div>
    <div class="">
        <h5>Looking Back</h5>
        <p>
            Please begin with a look back at summaries submitted in the prior
            two semesters, and provide here a brief follow-up on any actions
            taken, resources requested, resources received, etc.
        </p>
    </div>
    <div class="">
        <label for="lookingbackInput">Looking Back</label>
        <input type="text" class="" id="lookingbackInput" placeholder="Your awnser" />
    </div>
    <div class="">
        <h5>Part 1 - Findings</h5>
        <p>Discuss the findings and/or observations. Please include:</p>
        <p>
            - How the Learning Outcome was assessed. Examples: using brief
            reflections from individual instructors, using a common assessment,
            etc.
        </p>
        <p>- The results of the assessment.</p>
        <p>
            Collective dialog that occurred in the department (who was involved)
        </p>
    </div>
    <div class="p-3 form-group text-light">
        <label for="findingsInput">Findings</label>
        <input
            type="text"
            class="form-control"
            id="findingsInput"
            placeholder="Your awnser"
        />
    </div>
    <div class="p-3 form-group text-light">
        <h5>Part 2 - Strategies</h5>
        <p>
            Discuss how the findings above will be used to inform practice. For
            example: planned improvements in individual courses; department-wide
            trainings; altering the assessment; or moving the focus to a
            different learning outcome.
        </p>
    </div>
    <div class="p-3 form-group text-light">
        <label for="strategiesInput">Strategies</label>
        <input
            type="text"
            class="form-control"
            id="strategiesInput"
            placeholder="Your awnser"
        />
    </div>
    <div class="p-3 form-group text-light">
        <h5>Part 3 - Resource Needs</h5>
        <p>
            What resources (if any) are needed to make the changes outlined
            above? What resources (if any) does the department need to help
            students meet course and/or program outcomes.
        </p>
    </div>
    <div class="p-3 form-group text-light">
        <label for="needsInput">Resources Needed</label>
        <input
            type="text"
            class="form-control"
            id="needsInput"
            placeholder="Your awnser"
        />
    </div>
    <div class="p-3 form-group text-light">
        <label for="notesInput"
            >Notes. Include comments if you have them.</label
        >
        <input
            type="text"
            class="form-control"
            id="notesInput"
            placeholder="Your awnser"
        />
    </div>
    <div class="p-3 form-group text-light">
        <p>
            A copy of your responses will be emailed to the address you
            provided.
        </p>
        <button type="submit" class="btn btn-warning">Submit</button>
    </div>
</form>
