<!DOCTYPE html>
<html lang="en">
    
    <head>
        <%- include ('includes/head') -%>
    </head>
    
    <body>
        <!--HEADER AND BRANDING TOP OF PAGE-->
        <header class="container-fluid bg-light p-0">
            <div class="d-flex flex-row px-2" id="branding">
                <img src="/images/grad-hat.png" alt="graduation hat" class="px-0 py-1 py-md-4 col-2" id="logo">
                <div class="pl-2 pr-2 py-1 py-md-4 col-9 align-self-center" id="page title">
                    <h1 id="softHead">Butte College</h1>
                    <h2 class="tightText">SLO <span class="spaceText">Tracker</span></h2>
                </div>
            </div>
        </header>
        
        <!--NAVBAR-->
        <%- include ('includes/navbar') -%>
        
        
        <!--MAIN SECTION - EACH PAGE CONTENT GETS RENDERED HERE-->
        <main class="container pb-5">
            <%- body %>
        </main>
        
        <!--BOOTSTRAP SCRIPTS-->
        <%- include ('includes/scripts') -%>
    </body>
    
</html>