<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('includes/head') -%>
    </head>
    <body>
        <header class="container-fluid bg-light">
            <div class="d-flex flex-row" id="branding">
                <img src="/images/grad-hat.png" alt="graduation hat" class="px-4 py-3" id="logo">
                <div class="pl-3" id="page title">
                    <h1 id="softHead">Butte College</h1>
                    <h2 class="tightText">SLO <span class="spaceText">Tracker</span></h2>
                </div>
                    <div>
                        <img src="/images/brand-banner.png" class="px-5 py-4">
                    </div>    
            </div>
        </header>
        <div class="container-fluid bg-light min-vh-100 p-0 d-block">
                <div class="row">
                    <div class="col-2 pt-3">
                        <%- include ('includes/navbar') -%>
                    </div>
                    <div class="col-8 bg-white">
                        <%- body %>
                    </div>
                </div>
        </div>
    </body>
</html>
<%- include ('includes/scripts') -%>