<h1 class="text-dark py-2"><%= program.prog_name %></h1>

<h2 class="text-dark">About the Program</h2>

<p class="text-dark"><%= program.prog_desc %> </p>

<p class="text-dark"><b>Program Code: </b><%= program.prog_code %> </p>

<p class="text-dark"><b>Program Learning Outcomes: </b> 
    <ul class="text-dark">
        <% for (let plo of poutcomes) { %>
            <% if (plo.prog_id == program.prog_id) { %>
                <li><%= plo.pout_desc %></li>
            <% } %>
        <% } %>
    </ul>
</p>

