<h1 class="text-light py-2"><%= program.prog_name %></h1>

<h2 class="text-light">About the Program</h2>

<p class="text-light"><%= program.prog_desc %> </p>

<p class="text-light"><b>Program Code: </b><%= program.prog_code %> </p>

<p class="text-light"><b>Slo's: </b><%= program.prog_slos %> </p>

