<!-- This is a test page to ensure updates.js works as expected. Since the code
in updates.js has been consolidated with learning_outcomes.js, this page can be
safely removed after the code review. -->

<h1 class="py-2 pt-5">Learning Outcomes</h1>
<h3 class="text-dark py-2">Assessment Dates</h3>
<p class="text-dark">this is a test</p>
