header {
    padding-bottom: 25px;
    background-image: url(/images/brand-banner.png);
}

#branding {
    background-color: rgba(0, 0, 0, 0.8);
}

.pageTitle {
    padding-top: 40px;
}

h1,h2 {
    font-family: khula, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#logo {
    object-fit: contain;
    max-height: 150px;
    min-width: 72px;
}

#softHead {
    color: LightGrey;
    padding-top: .25em;
}

.spaceText {
    letter-spacing: 3px;
    font-weight: 800;
}

.tightText {
    color: #EEEEEE;
    margin-top: -15px;
}

.nav-link {
    color: LightSlateGrey;
    font-family: khula, sans-serif;
    font-weight: 500;
    font-style: normal
}

.nav-link:hover {
    color: #eab676;
}

.navbg {
    background-color: OldLace;
}

.customTable {
    font-family: khula, sans-serif;
    font-style: normal;
    font-weight: 400;
}

tr:nth-child(even) {
    background-color: OldLace;
}

thead {
    color: #EEEEEE;
    background-color: #191919;
}

td a {
    color: #777777;
}

ul a {
    color: #777777;
    text-decoration: none;
}

ul a:hover {
    text-decoration: none;
}

ul {
    padding-left: 1em;
    list-style-type: square;
}

a:hover {
    color: #000000;
}

.invisble {
    color: white;
}

#form-header-text {
  font-size: .8rem;
}

#radio-lister {
  padding: 20px;
  border-radius: 15px;
}

textarea {
  height: 150px !important;
}