header {
    padding-bottom: 25px;
}

.pageTitle {
    padding-top: 40px;
}

h1,h2 {
    font-family: khula, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#logo {
    object-fit: contain;
}

#softHead {
    color: #bfbfbf;
    padding-top: .75em;
}

.spaceText {
    letter-spacing: 3px;
    font-weight: 800;
}

.tightText {
    margin-top: -15px;
}

.nav-link {
    color: #999999;
    font-family: khula, sans-serif;
    font-weight: 600;
    font-style: normal
}

.nav-link:hover {
    color: #000000;
}

.customTable {
    font-family: khula, sans-serif;
    font-style: normal;
    font-weight: 400;
}

tr:nth-child(even) {
    background-color: #FEF4E8;
    
}

th {
    background-color: #FEF4E8;
}

td a {
    color: #777777;
}

ul a {
    color: #777777;
    text-decoration: none;
}

ul a:hover {
    text-decoration: none;
}

ul {
    padding-left: 1em;
    list-style-type: square;
}

a:hover {
    color: #000000;
}

.invisble {
    color: white;
}

#form-header-text {
  font-size: .8rem;
}

#radio-lister {
  padding: 20px;
  border-radius: 15px;
}

textarea {
  height: 150px !important;
}